<div class="article-side-image__image">
  <polygon-clip from="0 0, 0, 1, 1 1, 1 1, 0.7 0">
    <div picture="./../../../../../assets/images/articles/sophie_wall" [sizes]="['small','medium','large','wide']"></div>
  </polygon-clip>
</div>
<div class="article-side-image__article">
  <h1 class="article__title giant">For as long as fashion has dictated what we wear, the camera has been there to record its reign.</h1>
  <div class="article__date"><p class="tiny">29th January 2017</p></div>
  <article class="article__content">
    <p>Jangling sequins, waxy leather, slinking velvet, fizzy mohair. Jewel toned baroque, scatty polka dots, chintzy florals,
      traditional tartan. In texture and print, I do not discriminate. I’ll glad take them all into my wardrobe and onto
      my body, artfully layered as to resemble a painterly pass-the-parcel. My love of clotting in all its coloured and textured
      glory is apparent from the moment you see my wardrobe. Graphic prints and touch-me-now texture jostle for attention
      on the rail, a vivid conglomeration of clothing owing much to the vintage and second hand shops I scour. However not
      all the credit is to be given to my magpie eye. Some of the most eye catching items in wardrobe have been gifted to
      me by women in my life who are as generous as they are stylish. </p>

    <p>The practice of the hand-me-down often gets a terrible rep. For some it conjures up memories of ill-fitting jumpers and
      mended school uniforms, wilfully bestowed on the unlucky youngest siblings. Growing up without any sisters, the hand-me-downs
      I received were from older cousins but the bulk of the pre-loved clothing I pilfered myself from my mum’s closet. Because
      I was not in constant receipt of hand-me-downs from siblings, the event of receiving clothes from women in my life
      was quite excitable. As I’ve grown older, the thrill of new clothes is eclipsed by the sentiment of the gesture. Every
      time I wear an item that belonged to somebody special in my life, I am comforted by the intimacy of wearing something
      they once did. </p>

    <p>Take, for instance, the slouchy spangled gold bomber from my fashionable aunt Debbie. With her champagne blonde bob,
      sleek kohl eye liner and inimitable personal style she has forever cut a fashionable figure in my life. As a child,
      she would upend black bin bags brimming with my older cousin’s unwanted clothes for me to pillage, adding worn-in GAP
      jeans and slouchy jumpers to my measly adolescent wardrobe. A former boutique manager, her own collection of clothing,
      hats, gloves, belts and scarves could easily fill a shop floor twice over and in recent years she has gifted me with
      bags and boxes of her retail spoils. On a last visit home I was greeted with small cardboard crates brimming with buttery
      leather gloves, bejewelled belts coiled up like sleeping serpents, stacks of jaunty felt and feather hats, froufrou
      prom dresses and evening bags with the original 1980s price tags still attached. Sadly for me, the baggage restriction
      travelling back to Dublin forbade sweeping the lot into my suitcase and so I picked over the clothing and accessories
      like a seasoned department store buyer. After hours of deliberation I emerged with a handful of bounty, the gold bomber
      among them. A lucent wardrobe staple, it injects my outfits and mood with some much needed razzmatazz on those spectacularly
      grey Irish winter days, and always makes me think of Debbie.</p>

    <p>If my best friend’s mum could be summed up in a piece of clothing, this Picasso-print blouse is it. Bold, joyful, witty
      and a little bit bonkers is Helen and this shirt. I’m not sure exactly when it arrived in my wardrobe but it was likely
      at some point during the countless to and fro of clothes swapping that was our teenage hood. It was also during those
      cranky in-between years that Helen gave me my first job. Earning a wage waitressing for her was my first experience
      of the responsibility that comes with employment, as well as the incomparable feeling of having cash to burn. </p>

    <p>Situated conveniently within walking distance of the city centre, Helen’s house also became our weekend base as we gathered
      there to primp and preen before hurling ourselves at the night. We’d return in the early hours with heels in hand,
      falling onto sofas or squishing all together into bed. This weekly ritual was looked on with bemusement and utter tolerance
      from Helen, whose patience as we traipsed around in our wobbly high heels, blaring Rhianna, is a trait I hope to one
      day to possess along with her effortless sense of style.</p>


    <p>The best thing about this floral cover up is the woman who gifted it to me, my partner’s mother Maura. As she whipped
      it out of her wardrobe one day I was instantly besotted with the tropical print and swinging sixties shape. With a
      practicality and generosity typical of Maura’s personality, she insisted I take it and “give it some wear”. </p>

    <p>The second best thing about this ankle length number is that it is only one half of the original ensemble. Not pictured
      is the jersey flared leg jumpsuit in a demure powder blue. Being somewhat lacking in the bust department I was not
      able to do the jumpsuit justice but the floral robe fitted neatly around my waist and was whisked immediately into
      my wardrobe.
    </p>

    <p>Lastly, what I love about this particular piece is that the set was originally sold as pyjamas. Putting our flannelette
      separates wholeheartedly to shame, the vibrant hibiscus print and slinky jersey were intended only to be seen in the
      bedroom but thankfully, Maura had other ideas. On the lookout for an outfit for a dance she saw the potential for this
      bold two-piece to be twirled around the dance floor. Completely unperturbed by the origins of her outfit I can imagine
      her gleefully moving across the room, her waist length red hair in fiery contrast to the shades of turquoise she wore.
      Now in her eighth decade she still takes to the dance floor at least twice a week, the only difference being she does
      the Jive in jeans rather than her baby blue jumpsuit. </p>
  </article>
</div>
