.button {
	padding: 0.5rem 0.75rem;
	background: $color-light;
	border-radius: 3px;
	border: 1px solid $color-border-light;
	box-shadow: none;

	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

	& + & {
		margin-left: $spacing-half;
	}

	&:hover {
		opacity: 0.8;
	}

	&--tiny {
		padding: 0.25rem 0.5rem;
		@include type-scale(-1);
	}

	&--green {
		padding: 0.5rem 1.5rem;
		border: 1px solid $color-green;
		@include type-scale(-1);
		font-weight: 600;
		background-color: white;

		&:hover {
			background-color: $color-green;
		}

	}

	

}