@import "./../../../../styles/utils/utils";

:host,
.entry-list-item {
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid $color-border-light;
	padding: 8px $spacing-half;
	align-items: center;


	checkbox-field {
		margin-bottom: 0;
		flex: 0 0 30px;
	}
	& > * {
		flex: 1 0;
	}

	p {
		 @include type-scale(-1);
		 margin: 0 $spacing-quarter;
	}

	&__fluid {
		flex: 1 0 auto;
	}
	&__text {
		flex: 0 0 80px;
	}
	&__type {
		flex: 0 0 80px;
	}
	&__postdate {
		flex: 0 0 80px;
	}
	&__img {
		max-height: 24px;
		flex: 0 0 auto;
	}

	drop-list {
		flex: 0 0 20px;
		max-width: 20px;
	}
}