<section class="asset-manager__container">
  <header>
    <p class="title">Asset Manager</p>
    <search-box></search-box>
  </header>
  <nav class="asset-manager__sidebar">
    <p>All Assets</p>
  </nav>
  <section class="asset-manager__list">
    <entry-list (change)="entryListChanges($event)" #entryList></entry-list>
  </section>
  <footer>
    <div class="button-group">
      <button id="upload" class="button">Upload</button>
    </div>
    <div class="button-group">
      <button (click)="closePopup()" class="button">Cancel</button>
      <button class="button">Select</button>
    </div>
  
  </footer>


</section>