<section class="asset-manager__container">
  <header>
    <p class="title">Asset Manager</p>
    <search-box></search-box>
  </header>
  <nav class="asset-manager__sidebar">
    <p>All Assets</p>
  </nav>
  <section class="asset-manager__list">
    <entry-list (listItemEvent)="triggerFieldEvent($event)" [entries]="entries$" [fieldConfig]="assetFieldConfig" [config]="assetListConfig"  *ngIf="!uploaderIsVisible" (change)="entryListChanges($event)" #entryList></entry-list>
    <uploader (success)="onUploadSuccess($event)" *ngIf="uploaderIsVisible"></uploader>
  </section>
  <footer>
    <div class="button-group">
      <button (click)="toggleUpload()" id="upload" class="button">Upload</button>
    </div>
    <div class="button-group">
      <button (click)="closePopup()" class="button">Cancel</button>
      <button (click)="selectAssets()" class="button">Select</button>
    </div>
  
  </footer>


</section>