<ng-template ngFor let-block [ngForOf]="blocks" let-i="index" let-first="first">
    <article-multi-sticky-image [isFirst]="first" [entry]="entry" [fields]="block.fields"  *ngIf="block.tag === 'article-multi-sticky-image'"></article-multi-sticky-image>
    <article-multi-sticky-breaker [isFirst]="first" [entry]="entry" [fields]="block.fields"  *ngIf="block.tag === 'article-multi-sticky-breaker'"></article-multi-sticky-breaker>
    <article-multi-sticky-quote [isFirst]="first" [entry]="entry" [fields]="block.fields"  *ngIf="block.tag === 'article-multi-sticky-quote'"></article-multi-sticky-quote>
</ng-template>