<polygon-clip>
  <picture>
    <source srcset="assets/images/articles/img-article-01-crop@0,5x.jpg" media="(max-width: 320px)">
    <source srcset="assets/images/articles/img-article-01-crop@0,75x.jpg" media="(max-width: 768px)">
    <img src="assets/images/articles/img-article-01-crop.jpg" alt="MDN">
  </picture>
</polygon-clip>
<div class="hs__details">
  <div class="hs__details-subheader">article 1</div>
  <h1 class="hs__details-header">For as long as fashion has dictated what we wear the camera has been there to record its reign.</h1>
  <p class="hs__details-text">During the 20th century fashion photographers emerged as visionaries in their own right as they captured the mood of the era and the faces that defined it. Irving Penn’s monochrome mannequins exemplified mid-century style</p>
</div>