@import "./../../../../../styles/utils/utils";

:host,
.date-field {
	float: left;
	margin-bottom: $spacing-whole;

	
	&__container {
		@include o-input();
		clear: both;
		float: left;
		width: auto;
		padding: 0;
		display: flex;
	}

	label {
		@include o-label();
		
	}

	input {
		
		padding: $spacing-two-thirds $spacing-half;
		margin: 0;
		height: 100%;
		border: none;
		position: relative;
		border-right: 1px solid rgba(151,151,151,0.07);
		
	}

	
	&.ng-invalid.ng-touched{
		.date-field__container {
			border-color: $color-red-l;
		}
	}

	&.ng-valid.ng-touched{
		.date-field__container {
			border-color: $color-green;
		}
	}

}