:host {
	display: grid;
	grid-template-columns: 4rem auto;
	grid-template-rows: 100vh auto;

	grid-template-areas: "sidebar cms";


	cms-sidebar {
		grid-area: sidebar;
	}

	section.cms {
		grid-area: cms;
	}

}