@import "./../../../../styles/utils/utils";

:host {
	background-color: $color-light-d;
	display: grid;

	grid-template-columns: auto [col-header-end] 400px;
	grid-template-rows: auto auto;
	height: 100%;

	overflow: auto;

	grid-template-areas: "entry aside";


	section.entry {
		grid-area: entry;
		padding: $spacing-whole $spacing-one-half;
		margin-bottom: $spacing-whole;
	}

	.capsule {
		@include o-capsule;
	}

	aside {
		grid-area: aside;
		padding: 6rem $spacing-half 0;
	}
}