@import "./../../../../../styles/utils/utils";
:host,
.article-multi-sticky-image {
    @include grid-container;

    &__article {
        @include grid-column(6);
        margin-top: $spacing-quad * 1.5;
    }
    &__image {
        @include grid-column(6);
        height: 100vh;
        position: sticky;
        top: $header-height;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .article {
        &__content {
        }
        &__image {
            max-height: calc(100vh - #{$header-height});
            img {
                max-height: 100%;
            }
        }
    }

}