@import "./../../../styles/utils/utils";
:host,
app-home-page {
  flex: 1 1 auto;
  width: 100%;
  float: left;
  padding-top: $spacing-whole;
  background-color: $color-background-light;
  section {
    @include grid-container;
  }
  polygon-clip {
    @include grid-column(4);
    @include grid-media($small-grid) {
      @include grid-column(2);
    }
    @include grid-media($medium-grid) {
      @include grid-column(4);
    }
    @include grid-media($large-grid) {
      @include grid-column(6);
    }
  }
}
